<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataConnect.Properties.Settings.CPITQLHSBanTruConnectionString"
            connectionString="Data Source=42.112.20.82,1433;Initial Catalog=CPITQLHSBanTru;Persist Security Info=True;User ID=CPITQLHSBanTru"
            providerName="System.Data.SqlClient" />
        <add name="DataConnect.Properties.Settings.CPITQLHSBanTruConnectionString1"
            connectionString="Data Source=&quot;42.112.20.82, 1433&quot;;Initial Catalog=CPITQLHSBanTru;Persist Security Info=True;User ID=CPITQLHSBanTru;Password=bantru2018@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>